---
# Front matter needed to format correctly
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- META TAGS -->
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SOCIAL TAGS -->

  <!-- Twitter -->
  <meta name="twitter:title" content="Harrow Woodcraft Folk" />
  <meta name="twitter:description" content="Harrow Woodcraft Folk, educational movement for young people, aims to build world based on 
  equality, friendship,peace,co-operation. weekly groups, games,camping">
  <meta name="twitter:creator" content="@HarrowWoodcraft" />
  <meta name="twitter:image" content=" http://euro-travel-example.com/thumbnail.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@HarrowWoodcraft" />

  <!-- Open Graph general(Facebook, Pinterest & Google+) -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Woodcraft Folk - Harrow" />
  <meta property="og:url" content="https://harrow-woodcraft-new-members.org.uk/" />
  <meta property="og:description" content="Explore, discover and grow with Harrow Woodcraft Folk.
  A movement for children and young people, open to everyone from birth to adult. We offer a place where children will grow in confidence,
  learn about the world and start to understand how to value our planet and each other." />
  <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|PT+Serif:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/img/woodcraft_favicon.png" type="image/x-icon" />

  <!-- GOOGLE ANALYTICS -->
</head>

<body>
  <main>
    {% include header.html %}
    {% include slider.html %}
    {% include introduction.html %}
    {% include schedules.html %}
    {% include program_usp.html %}
    {% include contact.html %}
    {% include footer.html %}
  </main>

  <!-- JS -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
