<section class="contact">
  <div class="contact__main-message margin-bottom-medium">
    <h4>For more information on Harrow Woodcraft and how to join contact {name} on: <a href="mailto:sample@sample.com?subject=Harrow Woodcraft enquiry">name@email.co.uk</a></h4>
  </div>
  <div class="contact__about">
    <p class="margin-bottom-medium">This website has been created by Harrow Woodcraft Folk to encourage new membership for children and adult volunteers. We are part of the Woodcraft Folk and as such take safeguarding very seriously. All our
      leaders, adult volunteers and any
      adult attending camp is DBS checked. A DBS check is part of the joining process of the Woodcraft Folk movement. </p>
    <p class="italic">For more information on Woodcraft Folk: <a href="www.woodcraft.org.uk">www.woodcraft.org.uk</a></p>
    <p class="italic">For more information on Harrow Woodcraft Folk: <a href="http://www.harrowwoodcraftfolk.btck.co.uk">www.harrowwoodcraftfolk.btck.co.uk</a></p>
  </div>
</section>