<section class="program_usp_container">
 {% for usp in site.data.usps %}
  <div class="program_usp__item">   
    <img class="program_usp__item_img" src="{{ usp.image }}" alt="{{ usp.image_alt }}">
    <div class="program_usp__description">
      <h5 class="program_usp__item__heading">{{ usp.title }}</h5>
      <p class="program_usp_item__description">{{ usp.desc }}</p>
    </div>
  </div>
 {% endfor %}
</section>
<div class="program_usp_mood">
  <div class="program_usp__item_img--small"></div>
  <div class="program_usp__item_img--extended"></div>
</div>