<section class="schedules">
  <div class="schedules__introduction">
    <h4 class="schedules__heading">WE MEET EVERY TUESDAY IN CENTRAL HARROW</h4>
    <p class="schedules__description">We have three groups and we welcome the participation of parents in group nights and camping. Groups are split by age and listed below.</p>
  </div>
</section>
<li class="schedules_item">
  Elfins <span>(6 to 9 years)</span> 6.30pm to 8pm
</li>
<li class="schedules_item">
  Pioneers <span>(9 to 13 years)</span> 6.30pm to 8pm
</li>
<li class="schedules_item">
  Venturers <span>(13 to 16 years)</span> 8pm to 9.30pm
</li>