<section class="slider">
  <div class="slider__holder">
    <div class="slider_element slider_element--1">
      <h2 class="slider__heading">Explore</h2>
      <h3 class="slider__heading__subheadline">with Harrow Woodcraft Folk</h3>
    </div>
    <div class="slider_element slider_element--2">
      <h2 class="slider__heading">Discover</h2>
      <h3 class="slider__heading__subheadline">with Harrow Woodcraft Folk</h3>
    </div>
    <div class="slider_element slider_element--3">
      <h2 class="slider__heading">Grow</h2>
      <h3 class="slider__heading__subheadline">with Harrow Woodcraft Folk</h3>
    </div>
  </div>
</section>