header {
  height: 115px;
  display: flex;
  align-items: center;
  padding: 0 $page-padding-right 0 $page-padding-left;
}

.header__logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.header__headline {
  color: $medium-green;
}

@media only screen and (max-width: 600px) {
    header {
      padding: 0 24px 0 24px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .header__headline {
      font-size: 28px;
    }
}

@media only screen and (max-width: 400px) {
    header {
        height: 80px;
    }

    .header__logo {
        width: 40px;
        height: 40px;
    }

    .header__headline {
      font-size: 18px;
    }
}
