.schedules {
  background-color: $dark-green;
  color: $white;
  padding-left: $page-padding-left;
  padding-right: $page-padding-right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.schedules__heading {
  margin-bottom: 10px;
  font-family: $secondary-font;
}

.schedules_item {
  list-style: none;
  font-size: 32px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: $page-padding-left;
  padding-right: $page-padding-right;
  width: 100%;
  color: $white;
  background-color: $dark-green;

  &:nth-of-type(odd) {
    background-color: $medium-green;
  }

  span {
    color: $light-green;
  }
}
